body, body h1, body h2, body h3, body h4, body h5, body h6, body p{
	font-family: 'Open Sans', sans-serif !important;
	}
body h1, body h2, body h3, body h4, body h5, body h6{
	text-align:left;
	}
body,
body p{
	text-align:justify;
	}
body h1 {
	font-size: 30px !important;
	font-weight: 700 !important;
	}
blockquote {
	background-color: #f5f5f5;
	box-shadow: 0 0 10px #ccc;
	margin: 0 0 10px;
	padding: 30px;
	}
blockquote > p{
	margin:0;
	}
.site-footer {
	background-color: #f5f5f5;
	box-shadow: 0 0 10px #ccc;
	padding: 60px 0 0;
	}
.site-footer .wrap {
	max-width: 100%;
	}
.site-footer .wrap > p {
	background-color: #0c400f;
	text-align: center;
	color: #fff;
	padding: 10px ;
	}
/*.site-header > .wrap{
	position:relative;
	}*/
.site-header > .wrap > .title-area {
	padding: 10px 0 0 !important;
	position: absolute;
	}
@media screen and (max-width:997px){	
	.site-header > .wrap > .title-area {
		position:static;
		max-width: 100px;
		}
	.site-footer .wrap{
		padding-left:0;
		padding-right:0;
		}
	body h1 {
		font-size: 22px !important;
		font-weight: 700 !important;
		}
}